{
   servers {
       max_header_size 5GB
   }
}
:80 {
	route /api* {
		uri strip_prefix /api
		reverse_proxy http://api:14702 {
			header_down Location "^/" "/api/"
		}
	}

	route /ws {
		uri strip_prefix /ws
		reverse_proxy http://events:14703 {
			header_down Location "^/" "/ws/"
		}
	}

	route /autumn* {
		uri strip_prefix /autumn
		request_body {
		    max_size 0
		}
		reverse_proxy http://autumn:14704 {
			header_down Location "^/" "/autumn/"
		}
	}

	route /january* {
		uri strip_prefix /january
		reverse_proxy http://january:14705 {
			header_down Location "^/" "/january/"
		}
	}

	route /livekit* {
		uri strip_prefix /livekit
		reverse_proxy http://livekit:7880 {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up Connection "Upgrade"
			header_up Upgrade $http_upgrade
		}
	}

	route /ingress* {
		uri strip_prefix /ingress
		reverse_proxy http://voice-ingress:8500 {
			header_down Location "^/" "/ingress/"
		}
	}
        
	route /stage-bridge* {
		uri strip_prefix /stage-bridge
		reverse_proxy http://stage-bridge:8600 {
			header_down Location "^/" "/stage-bridge/"
		}
	}
	
	reverse_proxy http://web:5000
}
